body {
    background-color: bisque;
    font-family: 'Merriweather', serif;
}
.logo {
    width: 80px;
    margin: auto;
    display: block;
}
.navigation {
    background-color: black;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.navigation a {
    color: white;
    text-decoration: none;
}
.banner {
    font-family: 'Monoton', cursive;
    height: 400px;
    background-color: aquamarine;
    background-image: url("images/claudio-schwarz-ipcsI15th5I-unsplash.jpg");
}

.social {
    /* font-size:24px; */
    font-size: 2rem;
}

.social a {
    color: #000000;
    text-decoration: none;
}